<tr>
  <td><%= link_to shop.id, shop_path(shop) %></td>
  <td><%= shop.name %></td>
  <td><%= shop.postal_code %></td>
  <td><%= shop.address %></td>
  <td><%= shop.tel %></td>
  <td><%= link_to shop.homepage, shop.homepage %></td>
  <td><%= shop.business_hours %></td>
  <td><%= shop.longitude %></td>
  <td><%= shop.latitude %></td>
  <td><%= link_to "edit", edit_shop_path(shop) %></td>
  <td><%= link_to "delete", shop, method: :delete, data: {confirm: "よろしいですか？"} %></td>
  <td><%= link_to "所持ファイル一覧", shop_files_path(shop) %></td>
</tr>
