<tr>
  <td><%= link_to file.id, file_path(file) %></td>
  <td><%= file.name %></td>
  <td><%= file.file_type %></td>
  <td><%= link_to file.url, file.url %></td>
  <td><%= link_to "delete", file_path(file), method: :delete, data: {confirm: "よろしいですか？"} %></td>
  <td><%= link_to "edit", edit_file_path(file) %></td>
</tr>
